<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>XXS Audio Player</string>
	<key>CFBundleDisplayName</key>
	<string>XXS Audio Player</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.stan-kondrat.xxs-audio-player</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>XXS-Audio-Player</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http</string>
		<string>https</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>XXS-Audio-Player uses media keys for playback control.</string>
</dict>
</plist>
